
/* here is the css for the new  */


body {
    /* font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif; */
    color: #333333;
    font-family:'Open Sans', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    padding: 100px;
    height: 100%;
    width:100%;


}
.left {
    display:flex;
}

.right {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color:rgb(114, 233, 78)!important;
    height: 100%;
    margin-top: 60px;
    /* margin-bottom:5px; */

}

.row{
    height: 100%;
  }

  input[type="text"] {
      border: solid 1px;
      border-radius: 5px;
      width: 100%;
      border-color: rgb(36, 161, 233);
  }
.btn {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
    /* height: 100%;
    width:100%; */


}


/* color picker styling */
/*
.color-picker {
    position:relative;
    width:100px;
    height:30px;
    display:block;
    }
    .color-code{
    position:absolute;
    top:0;
    left:0;
    background:#fff;
    width:70px;
    height:30px;
    line-height:30px;
    text-align:center;
    }
    .color{
    position:absolute;
    top:0;
    right:0;
    width:30px;
    height:30px;
    border-radius:100%;
    } */


    #primary_color{
        border-radius: 100%;
        height: 60px;
        width: 60px;
        border: none;
        outline: none;
        -webkit-appearance: none;
    }

    #primary_color::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    #primary_color::-webkit-color-swatch {
        border: none;
        border-radius: 100%;
    }